<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Details</title>
</head>

<body>
    <h1>
        Id: <%= id %>
    </h1>
    <h2>
        Post: <%= comment %>
    </h2>
    <h3>
        By: <%= username %>
    </h3>
    <a href="/comments">View all comments</a>
    <a href="/comments/<%= id %>/edit">Edit comment</a>
    <form action="/comments/<%= id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
    </form>
</body>

</html>